$b: '.progress';

#{$b} {
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 0%;
	height: 0.5em;
	background: #fffed8;
	transition: width 0.3s ease-in-out;
	
	&.shown, &_shown {
		visibility: visible;
	}
}