$b: '.button';

#{$b} {
	visibility: hidden;
	border-radius: 40px;
	font-weight: 700;
	background: none;
	transition: color 200ms, border-color 200ms;

	&[disabled] {
		opacity: 0.3;
		pointer-events: none;
	}

	&:focus {
		outline: none;
	}

	&.shown, &_shown {
		visibility: visible;
	}

	&_content {
		&_copy {
			position: absolute;
			right: 0;
			bottom: 0;
			padding: .3em 1em;
			border: 2px solid rgba(0, 0, 0, .2);
			color: rgba(0, 0, 0, .75);
			font-size: .75em;
			
			&:hover,
			&:focus {
			    border-color: #111;
				color: #000;
			}
		}

		&_continue {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0 40px 60px 0;
			padding: .6em 1.5em;
			border: 3px solid #232529;
			color: rgba(0, 0, 0, 0.4);
			font-size: 1.25em;
			
			&:hover,
			&:focus {
			    border-color: #111;
				color: #000;
			}
			
			@media screen and (max-width: 52.5em) {
				right: 20px;
				bottom: 20px;
				width: 50px;
				height: 50px;
				padding: 50px 0 0 50px;
				margin: 0;
				border-radius: 50%;
				font-size: 0;
			}

			&::before {
				@media screen and (max-width: 52.5em) {
					content: '\27A1';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					font-size: 30px;
					line-height: 50px;
					text-align: center;
				}
			}
		}
	}
}		