$b: '.popup';

#{$b} {
	position: fixed;
	z-index: 1000;
	right: 0;
	bottom: 0;
	width: 50%;
	padding: 15px 20px;
	transform: translateY(100%);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	background: #24272b;
	transition: all 500ms 0s;
	
	@media (max-width: 52.5em) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
	}
	
	&_shown {
		margin: 0 10px 10px 0;
		transform: none;
		transition: all 500ms 1s;
		
		@media (max-width: 52.5em) {
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			margin: 0;
		}
	}
	
	&__content {
		margin-bottom: 20px;
		font-size: 0.95em;
		line-height: 1.75;
	}

	&__button {
		display: block;
		padding: 7px 40px;
		margin: auto;
		border: 2px solid rgba(255, 255, 255, .3);
		color: #fff;
		transition: border-color 250ms;
		
		@media (max-width: 52.5em) {
			display: inline-block;
			margin: 0;
		}

		&:hover,
		&:focus {
			border-color: #fff;
		}
	}
}