$b: '.result';

#{$b} {
	display: none;
	
	&__tip {
		margin-bottom: 1.5em;
		color: #3b3f45;
		font-weight: 700;
		font-size: 1.85em;
		
		&_error {
			color: #f00000;
		}
	}

	&__link {
		font-weight: 700;
		font-size: 1.2em;
	}
}