$b: '.input';

#{$b} {
	display: block;
	margin: 0;
	padding: 0 0 0.15em;
	width: 100%;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	background-color: transparent;
	color: #fffed8;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 0;
	
	// remove vertical scrollbars in ie
	overflow: auto;
	    
	// main font to input
	font-family: inherit;
	
	// ios & os x fix
	-webkit-appearance: none;
	    
	&[type=text]::-ms-clear {
	    display: none;
	}

	&:invalid {
		box-shadow: none; /* removes red shadow in FF*/
	}

	&:focus {
		background-color: #3b3f45; /* Fixes chrome bug with placeholder */
		outline: none;
		
		&:placeholder {
			color: transparent;
		}
	}

	&::placeholder {
		color: rgba(0, 0, 0, 0.1);
	}

	&_type {
		&_number,
		&_pin {
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
	}
}		