$b: '.fs-form';

#{$b} {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	
	@media screen and (max-width: 52.5em) {
		font-size: 70%;
	}

	&__content {
		position: relative;
		text-align: left;
		font-size: 2.5em;
		
		@media screen and (max-width: 52.5em) {
			top: 6em;
			right: 2em;
			left: 0;
			padding: 0 3.75em 0 1em;
			width: auto;
			font-size: 2em;
		}

		&_full {
			top: 32%;
			margin: 0 auto;
			width: 70%;
			max-width: 960px;
			
			.field {
				visibility: hidden;
				
				&__title {
					&:hover ~ .info {
						opacity: 1;
						transform: translateY(0);
						pointer-events: auto;
					}
					
					&[data-info] {
						&::after {
							position: relative;
							display: inline-block;
							margin-left: 10px;
							width: 24px;
							height: 24px;
							border: 2px solid rgba(0, 0, 0, 0.4);
							color: rgba(0, 0, 0, 0.4);
							border-radius: 50%;
							content: 'i';
							vertical-align: top;
							text-align: center;
							font-weight: 700;
							font-style: italic;
							font-size: 14px;
							font-family: Georgia, serif;
							line-height: 20px;
							cursor: pointer;
							pointer-events: auto;
						}

						&::before {
						    position: absolute;
						    bottom: 100%;
						   	left: 0;
						    padding: 0 0 10px;
						    min-width: 200px;
							content: attr(data-info);
							font-size: 0.4em;
							color: #6a7b7e;
						    opacity: 0;
						    transition: opacity 0.3s, transform 0.3s;
						    transform: translate3d(0, -5px, 0);
						    pointer-events: none;
						}

						&:hover::before {
							opacity: 1;
							transform: translate3d(0, 0, 0);
						}
					}
				}
			}

			.info {
				&:hover {
					opacity: 1;
					transform: translateY(0);
					pointer-events: auto;
				}
			}
		}

		&_overview {
			box-sizing: border-box;
			padding: 2.5em 20% 6em;
			width: 100%;
			height: 100%;
			background: #fffed8;
			color: #3b3f45;
			font-size: 1.2em;
			
			.fields {
				display: none;
			}

			.result {
				display: block;
			}
		}

		&.shown, &_shown {
			@keyframes animFadeIn {
				0% { opacity: 0; }
				100% { opacity: 1; }
			}

			animation: animFadeIn 0.5s;
			
			.fields {
				@keyframes animMove {
					from { top: 100px; }
				}
				
				animation: animMove 0.5s;
			}
		}

		.submit {
			display: none;
		}
	}
}