{{define "title"}}Share the message{{end}}

{{define "secure-link"}}

<div id="msg-link" class="container" data-copy>
   <div class="row">
       <div class="col-12">
           <label for="msg-text">Copy this link to access your secret content</label>
       </div>

       <div class="msg-link-text col-12">
           <textarea name="msg-link-text" id="msg-text" cols="30" rows="3" readonly data-copy-text>{{.}}</textarea>
       </div>

       <div class="col-12 col-md-6">
           <button type="button"
                   class="main-btn"
                   id="copy-link-btn"
                   data-copy-btn
                   role="button">Copy Link
           </button>
       </div>
       <div class="col-12 col-md-6">
           <a class="second-btn" href="/">Create more secret content</a>
       </div>
   </div>

</div>

<script src='/static/js/copy-text.js'></script>
{{end}}

