*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}


html,
body {
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
}

img, picture, video, canvas, svg {
    vertical-align: top;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}