$b: '.field';

#{$b} {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	border: none;
	
	&:hover {
		z-index: 999;
	}

	&.shown, &_shown,
	&_current {
		visibility: visible !important;
	}

	&_hide {
		pointer-events: none;
	}

	&__title {
		position: relative;
		display: inline-block;
		padding: 0 5px 1em 0;
		font-weight: 700;
		pointer-events: none;
	}
}			