name: build
on: [push, pull_request]
jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - name: set up go 1.23
      uses: actions/setup-go@v5
      with:
        go-version: "1.23"
      id: go

    - name: checkout
      uses: actions/checkout@v4

    - name: test
      run: |
        go test -v -timeout=60s -covermode=count -coverprofile=$GITHUB_WORKSPACE/profile.cov_tmp ./...
        cat $GITHUB_WORKSPACE/profile.cov_tmp | grep -v "mock_" > $GITHUB_WORKSPACE/profile.cov
      working-directory: app
      env:
        TZ: "America/Chicago"

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.61

    - name: install goveralls
      run: go install github.com/mattn/goveralls@latest

    - name: build
      run: go build -v
      working-directory: app

    - name: submit coverage
      run: $(go env GOPATH)/bin/goveralls -service="github" -coverprofile=$GITHUB_WORKSPACE/profile.cov
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: build pr image
      if: github.event_name == 'pull_request'
      run: docker build -t umputun/secrets:master .

    - name: build and push master image
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        docker build -t umputun/secrets:master .
        docker login --username ${{ secrets.DOCKERHUB_USER }} --password ${{ secrets.DOCKERHUB_PASSWD }}
        docker push umputun/secrets:master

    - name: deploy tagged (latest) site to ghcr.io and dockerhub
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      run: |
        GIT_TAG="${GITHUB_REF#refs/tags/}"
        docker build -t umputun/secrets:${GIT_TAG} .
        docker login --username ${{ secrets.DOCKERHUB_USER }} --password ${{ secrets.DOCKERHUB_PASSWD }}
        docker push umputun/secrets:${GIT_TAG}
        docker tag umputun/secrets:${GIT_TAG} umputun/secrets:latest
        docker push umputun/secrets:latest
